<a class="card text-white bg-black mb-3 mt-4 text-decoration-none" [href]="'movie/'+movie.id+'/details'">
  <div class="row">
    <div class="col-sm-2 col-md-12 col-img">
      <div class="d-flex justify-content-center mt-3" *ngIf="imageLoader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path" class="card-img-top img-border" [alt]="movie.title" [hidden]="imageLoader" (load)="onLoad()">
    </div>
    <div class="card-body col-sm-10 col-md-12 col-body">
      <div class="chip chip-sm bg-gray rounded"><i class="bi-star-fill mr-2 yellow-text"></i> {{ movie.vote_average * 10 }}%</div>
      <h5 class="card-title mt-3">{{ movie.title }}</h5>
      <p class="card-text gray-text mt-4"><small>{{ movie.release_date | date : "dd MMM yyyy" }}</small></p>
    </div>
  </div>
</a>
